/* Both native and custom selects must have the same width/height*/
/* :root{font-size: 62.5%} */
.hybrid-select,
.hybrid-select-js {
  position: relative;
  width: max-content;
  height: 2.5em;
  min-width: 100%;
}
select:disabled + .hybrid-select-js > .hybrid-selected {
	color: #939191;
	border-color: #c6c6c6;
	cursor: default;
}
/* Make sure the custom select does not mess with the layout*/
.hybrid-select-js {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* This media query detects devices where the primary
input mechanism can hover over elements. (e.g. computers with a mouse) */
@media (hover: hover) {
  /* // Since we are using a mouse, it's safe to show the custom select. */
  .hybrid-select-js {
    display: block;
  }
  /*In a computer using keyboard? Then let's hide back the custom select
  while the native one is focused: */
  .hybrid-select:focus + .hybrid-select-js {
    display: none;
  }
}
/* Add the focus states too, They matter, always! */
.hybrid-select:focus,
.hybrid-select-js.active .hybrid-selected,
.hybrid-select-js.focus .hybrid-selected {
	outline: none;
	box-shadow: white 0 0 0 1px, #5e95ff 0 0 1px 2px;
}
/* hybrid select styling */
.hybrid-select-container {
  position: relative;
  display: inline-block;
  font-size: 16px;
}
/*include any border styling in the box-sizing of our hybrid select.*/
.hybrid-select-container * {
	box-sizing: border-box;
  cursor: default;
}
.hybrid-select,
.hybrid-selected {
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 0.25em;
}
.hybrid-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.5em;
  padding: 0rem 0.8rem;
}
.hybrid-selected {
  position: relative;
  width: max-content;
  height: 100%;
  background-color: #fff;
  padding: 0.5em 0.5em;
  cursor: pointer;
  min-width: 100%;
}
.hybrid-selected::after {
  content: "▾";
  position: absolute;
  top: 0;
  line-height: 2.375em;
  right: 0.5em;
  font-size: 0.9375em;
}
.hybrid-selected:hover {
  border-color: #8c00ff;
}

.hybrid-select-js .hybrid-options {
  position: absolute;
  top: calc(2.375em + 1px);
  right: 0;
  width: max-content;
  border: 1px solid #6f6f6f;
  border-radius: 0.25em;
  background-color: #fff;
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 1;
  padding: 0.5em 0;
  display: none;
  background:#e3e3e3;
  min-width: 100%;
}

.hybrid-select-js.active .hybrid-options {
  display: block;
}
.hybrid-select:not(:visible)+.hybrid-select-js{
  display: none;
}
.hybrid-select-js .hybrid-option {
  position: relative;
  padding: 0.5em;
  padding-left: 1.5625em;
}

.hybrid-option.hover {
  background-color: #1e1e1e21;
}

.hybrid-option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.hybrid-option.active::before {
  content: "✓";
  position: absolute;
  left: 0
}
